<div class="row center-align">
  <div class="card horizontal cart col s12 m5 offset-m3">
    <div class="card-stacked ">
      <span class="card-title">Cube Summation</span>
      <div class="card-content">
        <form class="col s12 m12" ng-submit="$ctrl.Procesar()">
          <div class="row">
            <div class="input-field col s12 m9">
              <textarea id="textarea1" ng-model="$ctrl.input" placeholder="Ingresa los valores a procesar." class="materialize-textarea validate"
                required></textarea>
              <label for="textarea1" data-error="Ingrese los valores">Valores</label>
              <button class="btn waves-effect waves-light" type="submit" name="action">Procesar
                </button>
            </div>
            <div class="input-field col s12 m3 left-align">
              <h5>Hint:</h5>
              <span>2<br />
                    4 5<br />
                    UPDATE 2 2 2 4<br />
                    QUERY 1 1 1 3 3 3<br />
                    UPDATE 1 1 1 23<br />
                    QUERY 2 2 2 4 4 4<br />
                    QUERY 1 1 1 3 3 3<br />
                    2 4<br />
                    UPDATE 2 2 2 1<br />
                    QUERY 1 1 1 1 1 1<br />
                    QUERY 1 1 1 2 2 2<br />
                    QUERY 2 2 2 2 2 2</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card horizontal cart col s12 m5 offset-m3">
    <div class="card-stacked ">
      <span class="card-title">Resultado</span>
      <div class="card-content">
        <div class="row">
          <div class=" col s12 m12">
            <ul ng-repeat="res in $ctrl.resultado track by $index">
              <li>{{res}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>